<!--<h1 [class.gray]="h1Style">Home</h1> if h1style is true set to gray style-->

<!-- <h1 [ngClass]="{
  'gray': h1Style,
  'large': !h1Style
}">Home</h1> if h1style is true set to gray else set to class caled large -->

<!--<h1 [style.color]=" h1Style ? 'gray' : 'black' ">Home</h1> Can set style properties. '?' if, ':' else-->

<!-- <h1 [ngStyle]="{
  'color' : h1Style ? 'gray' : 'black',
  'font-size' : !h1Style ? '1em' : '4em'
}">Home</h1> -->

<h4>Home</h4>

<div *ngIf=loadingBool class="loadingDiv">
    <div style="text-align: center">
    <label>Please wait..discovering devices..</label>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" [ngClass]="" style="width: 100%"></div>
    </div>
  </div>
<div class="container">

  <div class="row">
    <label class="col-xs-4 pull-left">Select a device:</label>
    <label class="col-xs-4 ml-3 pull-left">Select a command:</label>
    <label *ngIf=versionSelectBool class="col-xs-4 ml-3 pull-left">Select a backup version:</label>
  </div>

  <div class="row">

    <select class="col-xs-2" [disabled]="loadingBool">
      <option *ngFor="let device of devices" (click)="setDevice(device)">
        {{device}}
      </option>
    </select>

    <select class="col-xs-2 ml-3" [disabled]="loadingBool">
      <option *ngFor="let command of commands" (click)="setCommand(command.name)">
        {{command.placeholder}}
      </option>
    </select>

    <select *ngIf=versionSelectBool class="col-xs-2 ml-4" [disabled]="loadingBool">
      <option *ngFor="let version of versionsList" (click)="setVersion(version.name)">
        {{version.placeholder}}
      </option>
    </select>

  </div>

  <button mat-button (click)="btnClick()" [disabled]="loadingBool">Run</button>
  <button mat-button (click)="refreshDevices()" [disabled]="loadingBool">Refresh Devices</button>
  <button mat-button (click)="toggleBackup()" [disabled]="loadingBool">Toggle auto-backup</button>

  <svg width="800" height="600"></svg>
</div>

<!--  <svg width="60%" height="1200" class="mySvg" (click)="clicked($event)">
      <rect x="0" y="0" width="100%" height="100%" stroke="black" fill="none" />
  </svg> -->